flow-sonoff.json
[
    {
        "id": "dc6c627b.7fb0a",
        "type": "Sonoff device",
        "z": "c63845a1.44b8d",
        "mode": "0",
        "broker": "31a99116.50a74e",
        "device": "sonoff_yo",
        "name": "prueba",
        "onValue": "ON",
        "offValue": "OFF",
        "cmdPrefix": "cmnd",
        "statPrefix": "stat",
        "telePrefix": "tele",
        "x": 520,
        "y": 240,
        "wires": [
            [
                "323795fa.e7b55a"
            ]
        ]
    },
    {
        "id": "6409cf19.10efe",
        "type": "inject",
        "z": "c63845a1.44b8d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 220,
        "y": 200,
        "wires": [
            [
                "dc6c627b.7fb0a"
            ]
        ]
    },
    {
        "id": "4718144b.a8bfc4",
        "type": "inject",
        "z": "c63845a1.44b8d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "dc6c627b.7fb0a"
            ]
        ]
    },
    {
        "id": "323795fa.e7b55a",
        "type": "debug",
        "z": "c63845a1.44b8d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 240,
        "wires": []
    },
    {
        "id": "62d9df31.479d08",
        "type": "mqtt in",
        "z": "c63845a1.44b8d",
        "name": "",
        "topic": "sonoff_yo",
        "qos": "2",
        "datatype": "auto",
        "broker": "31a99116.50a74e",
        "x": 370,
        "y": 440,
        "wires": [
            [
                "ff023105.d86738"
            ]
        ]
    },
    {
        "id": "ff023105.d86738",
        "type": "debug",
        "z": "c63845a1.44b8d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 440,
        "wires": []
    },
    {
        "id": "31a99116.50a74e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "formacio.things.cat",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]